/* 
    Document   : portfolio
    Created on : Feb 20, 2009, 5:06:30 PM
    Author     : angus
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
root { 
    display: block;
}
*/

div.container {min-height:10em;
    display: table-cell;
    vertical-align: middle;
    border:2px solid black;
}

font.chamisaBold
{
    font-family: monospace;
    font-size: 24pt;
    font-weight: bolder;
    color: orange;
    }

font.bigbig
    {
    font-family: Georgia;
    font-size: 1em;
    font-weight: bolder;
    color: orange;
    text-align:right;
}
font.xbigxbig
    {
    font-family: Georgia;
    font-size: 1.3em;
    font-weight: bolder;
    color: orange;
    text-align:right;
    }
font.smallsmall
    {
    font-family: Georgia;
    font-size: .5em;
    font-weight: bolder;
    color: gray;
    text-align:left;
    }
font.xsmallxsmall
    {
    font-family: Georgia;
    font-size: .3em;
    font-weight: bolder;
    color: orange;
    text-align:left;
    }

    font.mediummedium
    {
    font-family: Georgia;
    font-size: .7em;
    font-weight: bolder;
    color: black;
    text-align:left;
    }

    font.mediummediumorange
    {
    font-family: Georgia;
    font-size: 1.2em;
    font-weight: bolder;
    color: orange;
    text-align:left;
    }

    img
    {
	border:0px solid blue;
    }

a:link{
    color: black;
	text-decoration: none; /*underline;*/
	border-width: 0px;
}
a:link:hover{
    color:black;
    color:#54A754;
    color:#4790be;

    /*color: black;*/ /*orange;*/
	text-decoration: none; /*underline;*/
	border-width: 0px; /*5px;*/
}
a:visited{
    color: black;
	text-decoration: none;/*underline;*/
	border-width: 0px;
}
a:visited:hover{
    color:black;
    color:#54A754;
 color:#4790be;
    text-decoration: none; /*underline;*/
	border-width: 0px;
	}


.dragme{position:relative;}


.show
{
    color:black;
    font-size:.5em;
    font-weight:bolder;
    font-family:Georgia;
    text-align:right;
    position:absolute;
    z-index:1;
    visibility:visible;
    left:340px;
    top:-100px;
    width:150px;
    height:10px;
    border-width:0px;
}


.topbar
{
    background:white; /*#b4d5fe;*/ /*white*/;
    position:absolute;
    /*left:190px;*/
    left:170px;
    left:8px;
    left:31px;

    top:37px;
    top:45px;
    top:5px;
    top:38px;
    top:4px;
    /*left:135px;*/
    /*top:62px;*/
    height:25px;
    border-bottom:blue solid 0px;
    font-size:18px; /*1.1em;*/
    font-weight:normal;
    font-weight:bold;
    font-style:italic;
    font-style:normal;
    font-family:Arial,Monaco,Georgia,Arial;
    color:#4790be;

      text-align:left;
      width:85%;
}

.nameheader
{
    position:absolute;
    font-size:15px; /*18px;*/
    font-weight:normal;
    font-weight:bold;
    font-style:italic;
    font-style:normal;
    font-family:Arial,Monaco,Georgia,Arial;
    color:#4790be;
    top:18px;
    top:53px;
    top:55px;
    top:25px;
    top:5px;
    top:45px;
    top:25px;
    left:0px;
    left:40px;
    left:32px;
    width:171px;
    width:191px;
    width:211px;
    text-align:right;
    text-align:center;
    text-align:left;
}

.topicheader1
{
    font-size:18px; /*1.1em;*/
    font-weight:normal;
    font-weight:bold;
    font-style:italic;
    font-style:normal;
    font-family:Arial,Monaco,Georgia,Arial;
    color:#4790be;
    color:#54A754;


}
.topicheader
{
  visibility:hidden;
    background:transparent;
    /*background:#b4d5fe;*/
    position:absolute;
    /*left:380px;*/
   /* left:417px;*/
    left:315px;
    left:340px;
    left:211px;
    /*left:170px;*/
    /*top:62px;*/
    top:37px;
    top:45px;
    top:0px;
   
    width:600px;
    /*height:25px;*/
    height:25px;
    border-bottom:blue solid 0px;
    font-size:18px;
    font-weight:normal;
    font-weight:bold;
    font-style:normal;
    font-family:Arial,Monaco,Georgia,Arial;
    text-align:left;
    color:#006600;
    color:#54A754;
    /*color:transparent;*/

    /*
    text-align:right;
    position:absolute;
    left:170px;
    top:45px;
    height:25px;
    width:65%;
    */
  }

.myname
{
    background:white;
    position:absolute;
    left:0px;
    top:50px;
    width:130px;
    height:20px;
    border-bottom:gray solid 0px;
    font-size:1.2em;
    font-weight:bold;
    font-family:Georgia, Arial;
    text-align:right;
    color:gray;

}

.myname2
{

    background:white;
    position:absolute;
    left:135px;
    top:50px;
    width:140px;
    height:20px;
    border-bottom:gray solid 0px;
	font-size:1.2em;
    font-weight:bold;
    font-family:Georgia, Arial;
    text-align:left;
    color:gray;

}
.myname222
{

    background:white;
    position:absolute;
    left:390px;
    top:-300px;
    width:360px;
    height:50px;
    border:red solid 0px;
    font-size:1.6em;
    font-weight:bold;
    font-family:Arial;
    text-align:left;
    color:black;

}
.centerer
{
    background:white;
    position:absolute;
    left:0px;
    top:20%;
}

.middler
{
    background:white;
    position:absolute;
    left:0px;
    top:-100px;
    width:940px;
    height:200px;
    border:red solid 0px;
}

.normalMenu
{
    background:white;
    color:black;
    font-size:12px;
    font-weight:normal;
}


.linkMenu
{
    background:white;
   	/*text-decoration: underline;*/
    border:red solid 1px;
    color:black;
    font-size:12px;
    font-weight:normal;

}
.subHeaderMenu
{
    background:white; /*orange;*/
    color:black;
    font-size:12px;
    font-weight:normal;
    font-weight:bold;
    font-style:italic;
    font-style:normal;
}

.bandname
{
    font-size:12px;
    font-weight:normal;
    font-weight:bold;
    font-family:Arial,Monaco,Verdana;
    font-style:normal;
    text-align:left;
    /*color:black;*/
    color:#4790be;
    /*color:blue;*/
}

.cv_header
{
    font-size:12px;
    font-weight:normal;
    font-weight:bold;
    font-family:Arial,Monaco,Verdana;
    font-style:normal;
    text-align:left;
    /*color:black;*/
    color:#4790be;
    /*color:blue;*/
}

.cv_subheader
{
    font-size:11px;
    font-weight:normal;
    font-family:Verdana;
    font-style:italic;
    text-align:left;
    /*color:black;*/
    color:#4790be;
    color:#54A754;
    color:black;
   
  }

.cv_subsection
{
  margin-left:0px;
}


a.tooltip span {
    font-family:Arial;
    font-weight:bold;
    font-weight:normal;
    font-size:12px;
    
    text-align:center; display:none; padding:0px 0px; margin-top:63px; margin-left:0px; width:100px;
  }
a.tooltip:hover span{
    display:inline;
    position:absolute;
    border:0px solid #000000;
    background:#ffffff;
    color:#000000;
    background:transparent;
    color:#ffffff;
  }

img.photo
{
 border:#4790be solid 2px;
 border:#006600 solid 2px;
 border:#54A754 solid 1px;
 border:black solid 1px;
 }

.postname
{
  vertical-align:top;
    font-size:11px;
    font-weight:normal;
    font-family:Verdana;
    font-style:normal;
    text-align:left;
    /*color:black;*/
    color:#4790be;
    /*margin:10px;*/
    width:57px;
    /*height:20px;*/
    /*color:blue;*/
    /*line-height:20px;*/
}

.post
{
  vertical-align:top;
    font-size:11px;
    font-weight:normal;
    font-family:Verdana;
    font-style:normal;
    text-align:left;
    color:black;
    /*margin:10px;*/
    /*height:20px;*/
    /*color:blue;*/
    /*line-height:20px;*/
}

.col1
{
    background:white;
    color:black;
    font-size:14px; /*18px;*/
    font-weight:bolder;
    font-family:Monaco,Georgia, Arial;
    position:absolute;
    text-align:right;
    left:0px;
    top:75px;
    top:110px;
    top:40px;
    top:90px;
    top:60px;
    top:90px;
    width:170px;
    width:190px;
    height:200px;
    border-bottom:red solid 0px;
  }


.col2
{
    background:white;
    color:black;
 /*   font-size:.8em; */
    font-weight:normal;
    font-family:Georgia, Arial;
    text-align:left;
    position:absolute;
    left:135px;
    top:150px;
    width:200px;
    height:200px;
    border-bottom:red solid 0px;
}

.contentDiv
{
    /*
    background:white;
    color:black;
    font-size:.7em;
    font-weight:normal;
    font-family:Courier,verdana,Georgia,Monaco;
    */
    text-align:left;
    position:absolute;
    left:170px;
    left:210px;
    left:220px;
    left:210px;
    top:45px;
    top:59px;
    top:9px;
    top:46px;
    /*height:100%;*/
    top:22px;
    top:8px;
    width:65%;
    /*top:125px;*/
    /*left:190px;*/
    /*width:700px;*/
}
    


.page
{
    background:white;
    color:black;
    font-size:11px;
    font-weight:normal;
    font-family:Verdana,Courier;
    text-align:justify;
    text-align:left;
}

